{deps, [{lhttpc, ".*",
         {git, "git://github.com/dreid/lhttpc.git", ""}},
        {mochiweb, ".*",
         {git, "git://github.com/mochi/mochiweb.git", ""}},
        {oauth, ".*",
         {git, "git://github.com/tim/erlang-oauth.git", ""}}
       ]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
